<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>RESTAURANTS REGISTARTION</title>
</head>
<body>
<h3> Register a new Restaurant: </h3>

<form id="saveRestaurant">

    <div><label> Login : <input id="username" type="text" name="username" placeholder="login"/> </label></div>
    <div><label> Password: <input id="password" type="password" name="password" placeholder="password"/> </label></div>
    <div><label> Restaurant name: <input id="restaurantName" type="text" name="restaurantName" placeholder="restaurantName"/> </label></div>
    <div><label> Phone number: <input id="phoneNumber" type="text" name="phoneNumber" placeholder="phoneNumber"/> </label></div>
    <p>* - format for the phone number: +38(999)9999999 or +38(999)999-99-99</p>

</form>

<button id="btnSaveRestaurant">Sign In</button>

<div id="representer">RESULT of Saving a Restaurant</div>

<h4>Or, in case you have already got an accout, log in: </h4>

<form action="/login" method="get">

    <input type="submit" name="" placeholder="" value="Go To Logination Page"/>

</form>

<h4>Or, in case you are already logged in, go to a page : </h4>
<form action="/goToSecuredPage" method="get">

    <input type="submit" name="" placeholder="" value="Go To Secured Page"/>

</form>


<script>
    $('#btnSaveRestaurant').click(function () {
        var $username = $('#username').val();
        var $password = $('#password').val();
        var $restaurantName = $('#restaurantName').val();
        var $phoneNumber = $('#phoneNumber').val();
        console.log($username, " ", $password);
        let restaurant = {username:$username, password:$password,
            restaurantName:$restaurantName, phoneNumber:$phoneNumber};
        //  it works with rest controllers and it does not need to restart the whole page
        $.ajax({
            url:'/saveRestaurant',
            type:'POST',
            data:JSON.stringify(restaurant),
            contentType:'application/json',
            success: function (results) {

//                let $div= $('<div/>', {
//                    text: 'RESTAURANT-  '+ results.restaurantName+
//                    ' '+results.phoneNumber+' was SAVED!'
//                });
                let $div= $('<div/>', {
                    text: 'RESTAURANT-  '+ results
                });

                $("#representer").append($div);


            },
            error: function (err) {
                console.log('error: '+err);
            }
        });
    });

</script>



</body>
</html>