<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Secured Page</title>
    <style>
        img{width: 100px;
        height: 100px}
    </style>
</head>
<body>
<h1> Page just to try security access </h1>

<form action="/deleteUser" method="post">
    <h2>Try deleting a user:</h2>
    <input type="number" name="id" placeholder="id"/>
    <input type="submit" name="" placeholder="" value="Delete a user with this id"/>
</form>

<h3>You got in as <p th:text="${className}"></p>
    <!--<p th:text="${username}"></p>-->
    <p th:text="${name}"></p>
</h3>


<h2>Add a new contact to your contact list and take a look into the database: </h2>


    <h1> Adding a new contact</h1>

<form id="saveContact" enctype="multipart/form-data">

    <div><label> Class Name : <input id="className" type="text" name="className" th:value="${className}"/> </label></div>
    <div><label> User Login: <input id="username" type="text" name="username" th:value="${username}"/> </label></div>
    <div><label> Contact name: <input id="contactName" type="text" name="contactName" placeholder="contactName"/> </label></div>
    <div><label> Contact email: <input id="email" type="email" name="email" placeholder="email"/> </label></div>
    <div><label> Contact avatar: <input id="image" type="file" name="image" placeholder="image"/> </label></div>

</form>

    <div>
        <button id="btn">Save</button>
        <button id="btn1">Show all Contacts </button>

    </div>

    <div class="target">The list of Contacts</div>

    <form class="target1" id="target1"> </form>

    <div>
        <button id="btn2">Save The name </button>
    </div>


<h2> To logout : </h2>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Log out"/>

</form>

<script>
    $('#btn').click(function () {
//        var $className = $('#className').val();
//        var $username = $('#username').val();
//        var $contactName = $('#contactName').val();
//        var $email = $('#email').val();
//        console.log($username, " ", $className, " ", $contactName, " ", $email);
        $.ajax({
            url:'/saveContact',
            type:'POST',
            data: new FormData($('#saveContact')[0]),
            processData: false,
            contentType: false,
            cache: false
        });
    });
    $('#btn1').click(function (){
        $('.target').empty();
        $('.target1').empty();
        $.ajax({
            url:'/showContacts',
            type:'POST',
            data: new FormData($('#saveContact')[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            //data:JSON.stringify(contact),
            //contentType:'application/json',
            // the following takes info from controller, results is an arbitrary name
            success: function (results) {
                console.log(results);
               // let $contacts = results;
                let $label = $('<label />', {for: 'ctlJob'});
                let $select = $('<select />', {id: 'contactName'});
                for(const contact of results){
                    let data = `${contact.id} ${'. '} ${contact.contactName} ${', '} ${contact.email} ${', '} ${contact.avatar}`;


                    let $option =$('<option/>', {  value: contact.contactName, text: contact.contactName});
                    $select.append($option);

                    let $div = $('<div/>', {class: 'xxx', text: data});
                    let $image = $('<img/>', {src: '/ava/'+contact.avatar});
                    $('.target').append($div);
                    $('.target').append($image);
                }
                $label.append($select);
                $('.target1').append($label);

            }
        });
    });

    $('#btn2').click(function () {

        var $contactName = $('#contactName ').text();
       // var $contactName= $( "#contactName option:selected" ).text();
        let contact = {contactName: $contactName, email: null};
        console.log('$contactName: '+$contactName);
        $.ajax({
            url:'/saveTheName',
            type:'POST',
            data: new FormData($('#target1')[0]),
            processData: false,
            contentType: false,
            cache: false
//            contentType:'application/json',
//            data:JSON.stringify(contact)
        });
    });


</script>

    <!--<script>-->
        <!--$('#btn').click(function () {-->
           <!--// var $className = $('#className').val();-->
           <!--// var $username = $('#username').val();-->
            <!--var $contactName = $('#contactName').val();-->
            <!--var $email = $('#email').val();-->
<!--//            var $avatar = $('#avatar').val();-->
            <!--console.log($className, " ",$username, " ", $contactName);-->
           <!--// let className = {className: $className};-->
            <!--//let username = {username: $username};-->
            <!--let contact = {contactName:$contactName, email:$email};-->
            <!--//  it works with rest controllers and it does not need to restart the whole page-->
            <!--$.ajax({-->
                <!--url:'/saveContact',-->
                <!--type:'POST',-->
               <!--// data:JSON.stringify(username),-->
                <!--data:JSON.stringify(-->
                        <!--//username,-->
                        <!--contact),-->
                <!--contentType:'application/json'-->
            <!--});-->
        <!--});-->
        <!--$('#btn1').click(function (){-->
            <!--$('.target').empty();-->
            <!--$.ajax({-->
                <!--url:'/showContact',-->
                <!--type:'GET',-->
                <!--//data:JSON.stringify(contact),-->
                <!--contentType:'application/json',-->
                <!--// the following takes info from controller, results is an arbitrary name-->
                <!--success: function (results) {-->
                    <!--console.log(results);-->
                    <!--for(const contact of results){-->
                        <!--let data = `${contact.id} ${'.'} ${contact.name} ${', '} ${contact.email}`;-->
                        <!--let $div = $('<div/>', {class: 'xxx', text: data});-->
                        <!--$('.target').append($div);-->
                    <!--}-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--</script>-->



</body>
</html>